/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  } */
  
  .app {
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 99vh;
  }
  
  .adminHeader {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.932);
  
  }
  .side-content {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .appFooter {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.932);
  }
  
  .side-menu {
    height: 100%;
  }
  
  .page-content {
    padding-left: 8px;
  }