:root {
  --changeColor: #fff;
  --textColor: rgb(8, 8, 8);
  --background: #f5f5f5;
}
body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--background);
  
}
 
.landing-page {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.top-bar {
  width: 100vw;
  max-height: 10vh;
  display: grid;
  color: rgb(44, 44, 44);
  margin-bottom: 3em;
  align-items: center;

  background-color: var(--changeColor);
}

#navbar {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-size: 1.2em;
  position: sticky;
}

.app-logo {
  display: flex;
  margin-left: 0.5rem;
  align-items: flex-end;
  text-decoration: wavy;
}
#pages,
#account {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#pages h3 {
  margin-right: 4.9rem;

  color: rgb(44, 44, 44);
}
.mylink {
  text-decoration: none;
}
.email-label {
  text-align: start;
}
.btn-create-account {
  height: 25px;
  position: relative;
  right: 0;
  top: 24%;
  padding: 10px;
  color: #ffffff;
  border-radius: 45px;
  background-color: #ff6915;
  margin-left: 20px;
}

.credentials {
  max-width: 99vw;
  height: auto;
  border-radius: 50px;
  background-color: white;
  color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
input {
  width: 100%;
  max-height: 1.6rem;
  border-radius: 10px;
  border: 2px solid rgba(29, 28, 28, 0.884);
  padding: 10px;
  margin: 1.1rem;
}

#subemail {
  margin: 20px;
  width: 70%;
}

.btn {
  width: 60%;
  height: 2.5rem;
  color: antiquewhite;
  margin-top: 40px;
  border-radius: 50px;
  background-color: #ff782d;
}
#btn {
  width: 10.1rem;
  height: 3.6rem;
  border: none;
  background-color: rgb(255, 255, 255);
  margin-right: 1.4rem;
  font-size: 1.2em;
  border-radius: 10px;
}
.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  line-height: 0.3rem;
  padding: 1.2em;
}

.section > h2 {
  font-size: 2rem;
  font-weight: bolder;
}

.container {
  width: 90vw;
  color: var(--changeColor);
  border-radius: 40px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.welcome-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://images.unsplash.com/photo-1581351123004-757df051db8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzl8fGdhbWluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"),
    #ffffff;
  border-radius: 50px;
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6em;
  background-size: cover;
  margin-left: 0.4rem;
  margin-bottom: 0.9rem;
}

.intro {
  width: 45%;
  height: auto;
  font-weight: bolder;
  font-size: 2.2rem;
  color: #ffffff;
}
#search {
  width: 50%;
  height: 3.1em;
  margin: 2.6rem;
}

input[type="search"] + p {
  font-size: 2.1em;
  color: rgb(255, 255, 255);
}

.product {
  width: 80vw;
  /* height: 280px; */
  /* position: relative; */
  z-index: 4;
  top: -5%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.product-item {
  width: 15em;
  height: 40vh;
  border-radius: 10px;
  background-color: var(--changeColor);
  color: var(--textColor);
  font-size: 0.8rem;
  text-align: end;
  padding: 5px;
}

.descr {
  position: relative;
  bottom: 0;
}

.recharge {
  width: 80vw;
  padding: 0.8em;
  display: flex;
  margin: 1.5rem;
  flex-direction: column;
}
.recharge > h2 {
  text-align: start;
  color: #171718cc;
}
.btn-dispatch {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}
.redux-store-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 0;
  padding: 1.2em;

}
#options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#airtime {
  width: 10rem;
  height: auto;
  border-radius: 10px;
  background-color: #ffffff;
}

.categories {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 50px;
  gap: 1.2rem;
  background-color: rgba(252, 252, 252, 0.938);
}
.categories > h2 {
  text-align: center;
  color: #1c1c1dd8;
}
.store-category {
  display: flex;
  gap: 0.8em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.storeClass {
  max-width: 9.5rem;
  height: 9.5rem;
}

.storeClass > img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background-size: contain;
}

.top-deals,
.gaming-section {
  width: 80vw;
  /* height: 25rem; */

  display: flex;
  flex-direction: column;
  margin: auto;
}

.top-deals > h1 {
  text-align: start;
  color: #0f0f0fe3;
}

.shoppingbag:hover {
  background-color: #ff910049;
}
/* AllProducts */
.deals-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  height: auto;
  gap: 1rem;
}
.singleDeal {
  width: 15rem;
  height: 20rem;
  background-color: white;
  border-radius: 20px;
  padding-top: 10px;
}
#top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
#top-price {
  background-color: #ffa573;
  width: 5rem;
  margin: 10px;
  border-radius: 6px;
}

.singleDeal > img {
  width: 100%;
  height: 50%;
}

.explore {
  width: 70vw;
  height: 15rem;
  display: flex;
  border-radius: 50px;
  padding: 3rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: url("./StoreComponents/images/Rectangle\ 35.png");
  margin: 3.4rem;
  color: #e5e5e5;
}

.explore-btn {
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  background-color: #ff782d;
  border: none;
}

.shop-games {
  width: 90%;
  height: auto;
  display: flex;
  margin: 0.9em;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.gaming-section {
  width: 80vw;
  color: #19191ae8;
}
.singleGame {
  width: 15em;
  height: 20em;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.932);
  background-size: contain;
}

.singleGame > img {
  width: 100%;
  height: 40%;
}

.image-section {
  width: 80vw;
  height: 17rem;
  margin: 8rem;
  background: url("./StoreComponents//images/image6.png");
  background-size: cover;
  border-radius: 50px;
}

.image-section > img {
  width: 40rem;
  height: 21.3rem;
  position: relative;
  top: -88%;
  right: -25%;
}
.sect {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.second-image {
  width: 70vw;
  height: 15rem;
  margin: 3.4rem;
  font-size: 2rem;
  color: #e5e5e5;
  background: url("./StoreComponents/images/Rectangle\ 38.png");
  border-radius: 50px;
}

.store-container {
  width: 60vw;
  height: 40vh;
  display: flex;
  margin: 1em;
  background: var(--changeColor);
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.store-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 0;
  padding: 1.2em;
}

.store-content > h3 {
  color: rgba(36, 35, 35, 0.856);
  font-size: 1rem;
}
.store-image {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.store-image > img {
  width: 15em;
  height: 100%;
}
#mini {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.entireStore {
  display: flex;
}

section {
  width: 25vw;
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  left: 0;
}
section > button {
  background-color: orangered;
  width: 15vw;
  margin: 1.5em;
  font-size: 0.8rem;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
}

article {
  position: relative;
  right: 0;
}

.plant-store {
  width: 20em;
  height: 30em;
  display: flex;
  flex-direction: column;
  background-color: blue;
  gap: 3em;
}

.plant-store > img {
  width: 100%;
  height: 40%;
}

.plantStore {
  display: flex;
  width: 50em;
  flex-wrap: wrap;
  position: relative;
  right: 0;
}

#cart-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.store-btn {
  background-color: rgb(220, 83, 20);
  width: auto;
  height: 1.7rem;
  border: none;
  border-radius: 10px;
  color: white;
  justify-content: end;
}
.redux-store-btn {
  background-color: rgb(220, 83, 20);
  width: auto; 
  height:1.2em;
  border: none;
  border-radius: 10px;
  color: white;
  justify-content: end;
}

footer {
  width: 100vw;
  height: 20rem;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #141b22;
  align-items: center;
  justify-content: center;
  color: white;
}
/* shoppingcart */

.social-accounts {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

#account-icon {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 10px;
  background-color: rgba(122, 122, 122, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  position: relative;
  left: -30%;
  top: 10%;
}

.cart-container {
  display: flex;
}

.personal {
  position: relative;
  left: -30%;
  text-align: start;
}
.login {
  width: 100%;
  border: 2px solid rgba(27, 27, 27, 0.856);
  padding: 10px;
  margin-bottom: 1em;
}

.private {
  display: flex;
}

#expiry,
#ccv {
  width: 7rem;
  margin: 1.2rem;
}
.cart-btn {
  background-color: black;
  color: #ffffff;
  width: 6rem;
  margin: 1.2rem;
  height: 3rem;
}

.details-component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  height: 60vh;
}
.image-container {
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}

.image-container > img {
  width: 70%;
  height: 70%;
}
.quantity {
  display: flex;
  position: relative;
  left: 30%;
  margin: 2rem;
}

.buysingle,
.buyall {
  padding: 30px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  align-items: center;
  justify-content: space-around;
  background-color: var(--changeColor);
  border-radius: 20px;
  margin-bottom: 20px;
}
.quantity > div {
  width: 4rem;
  height: 4rem;
}
.shipping,
.payment {
  max-width: 40em;
  min-height: 5em;
  margin: 20px;
  background-color: var(--changeColor);
  display: flex;
  border-radius: 5%;
  flex-direction: column;
  justify-content: center;

  padding: 30px;
}
.shipping1,
.payment1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}
#firstName,
#lastName,
#phone,
#cardname,
#cardnum,
#expire,
#cvv,
#discount {
  width: 95%;
}

.airtime {
  display: flex;
  gap: 1em;
}
.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  position: relative;
  left: 30%;
}
.brands > img {
  width: 100%;
  height: 50%;
}

.air {
  display: grid;
  grid: 1fr 1fr;
  width: 40vw;
  position: relative;
  left: 30%;
  text-align: start;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header" "section"
    "sidebar content";
}
#bt {
  height: 50px;
  width: 400px;
  border: none;
  border-radius: 10px;
}
.air > input {
  width: 50%;
}

.cartproducts {
  display: flex;
  height: auto;
  flex-direction: column;

  position: relative;
  z-index: 0;
}
#flexing {
  display: flex;
}
.allproducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  align-items: center;
  z-index: 0;
}
.color-options {
  min-width: 80%;
}
.btn-color {
  min-width: 1.9rem;
  min-height: 1.9rem;
  margin: 0.4rem;
  border-radius: 50%;
}
.page-navigate > h3 {
  color: var(--changeColor);
}
.details-component {
  padding: 40px;
}
.about-section,
.reviews {
  width: 45rem;
  position: relative;
  left: 10%;
  text-align: start;
}

.reviews-section {
  width: 50%;
  min-height: 5rem;
  background-color: white;
}
aside {
  display: flex;
}

.related-prod {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  color: #141b22;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 70vw;
}
table td {
  padding: 10px 75px;
  border-right: 0.5px solid rgba(83, 83, 83, 0.137);
}
table th > td {
  border-right: 0;
  padding: 0px 80px;
}
table th,
table tr {
  padding: 10px 10px;
  border-bottom: 1px solid rgba(66, 66, 66, 0.514);
}

#imgnprod {
  width: 7rem;
  height: 4rem;
}

.summary {
  background-color: var(--changeColor);
  width: 20em;
  height: 20em;
  border-radius: 50px;
}

#totals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  #pages {
    display: none;
  }
  .top-bar {
    height: 10vh;
    display: flex;
    justify-content: center;
  }
  #nav-pages {
    width: 70vw;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    padding: 0.1em;
    background-color: rgba(212, 209, 209, 0.774);
  }
  footer {
    /* width: 95vw; */
    grid-template-columns: 1fr;
    height: auto;
  }
  table {
    border-collapse: collapse;
    text-align: center;
    width: 100vw;
    border-bottom: 30px;
  }
  table td {
    padding: 20px 52px;
    margin: 1px;
  }
  table th,
  table tr {
    padding: 10px 62px;
    border-bottom: 1px solid;
    margin: 2px;
  }
  #flexing {
    flex-direction: column;
    align-items: flex-start;
  }
  table th > td {
    padding: 0 55px;
  }

  #imgnprod {
    width: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  #bar {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .store-container {
    width: 90vw;
  }

  .store-content {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 650px) {
  .fullStore {
    min-width: 300px;
  }

 
  /* .welcome-section {
    width: 90vw;
    position: relative;
    margin-bottom: 35em;
  } */
  .product {
    
    position: relative;
    width: 100%;
    margin: auto;
    color: black;
  }
  .product-item {
    position: relative;
    width: 50vw;
    font-size: 1.4rem;
  }

  #recimg {
    width: 40%;
  }
  .gaming-section {
    width: 100vw;
  }

  .shop-games {
    /* position: relative;
    left: -15%; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .singleDeal {
    position: relative;
    left: -35%;
  } */

  .singleDeal {
    width:70vw;
  } 

  .singleGame {
    width: 95vw;
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header descript descript"
                         "header header . ."
                         "header header sidecontent sidecontent";
  }

  .singleGame > img {
    grid-area: header;
  }

  .singleGame > h3 {

    grid-area: descript;
  }

  .singleGame > h4 {
    grid-area: sidecontent;
  }
  .deals-container {
    /* position: relative;
    left: 40%; */
    
    
    flex-direction: column;
  }
  .explore {
    max-width: 95vw;
    margin: 0.5rem;
    /* position: relative;
    left: 50%; */
  }

  .gaming-section {
    /* position: relative;
    left: 20%; */
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .cartproducts {
    position: relative;
    left: 0;
  }

  #topup,
  #mobile {
    width: 10em;
  }
  .airtime {
    width: 100vw;
    position: relative;
    left: -30%;
  }
  .air {
    position: relative;
    width: 100vw;
    left: 0;
  }
  .brands {
    width: 10em;
    flex-wrap: wrap;
  }
  .store-container {
    width: 80vw;
    height: 20vh;
  }
  .store-image > img {
    width: 5rem;
  }
  .store-content > h3 {
    font-size: 0.5em;
  }
  #mini,
  #branded {
    display: none;
  }
  #cart-section {
    font-size: 0.6em;
  }
  #shopcart {
    size: 0.7em;
  }
  input[type="search"] + p {
    color: #1b1b1bc5;
  }
  table {
    border-collapse: collapse;
    font-size: 0.8em;
    text-align: center;
    width: 100vw;
  }
  table td {
    padding: 3px 2px;
    margin: 1px;
  }
  table th,
  table tr {
    padding: 3px 2px;
    border-bottom: 1px solid;
    margin: 2px;
  }
  #flexing {
    flex-direction: column;
    align-items: flex-start;
  }
  table th > td {
    padding: 0 5px;
  }
  .air {
    display: flex;
    flex-direction: column;
  }

  .image-section {
    display: none;
  }
}
